@font-face {
  font-family: "Aachen Bold"; /*a name to be used later*/
  src: url("/660lives/assets/AachenBold.ttf"); /*URL to font*/
}
html,
body {
  font-family: "PT Sans", sans-serif;
}
html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 125px;
}
html div.min-height,
body div.min-height {
  min-height: calc(100vh - 125px - 95px);
}
html h1,
html h2,
html h3,
html h4,
body h1,
body h2,
body h3,
body h4 {
  font-family: "Aachen Bold", "PT Sans", sans-serif;
}
html nav.navbar,
body nav.navbar {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
html nav.navbar .navbar-brand,
body nav.navbar .navbar-brand {
  font-family: "Aachen Bold", "PT Sans", sans-serif;
  font-size: 3.5rem;
  color: black;
  vertical-align: middle;
}
html nav.navbar .navbar-brand .navbar-item,
body nav.navbar .navbar-brand .navbar-item {
  font-weight: normal;
  line-height: 3.5rem;
}
html nav.navbar .navbar-brand .navbar-item span,
body nav.navbar .navbar-brand .navbar-item span {
  transform: translateY(5px);
}
html nav.navbar .navbar-brand .navbar-item img,
body nav.navbar .navbar-brand .navbar-item img {
  max-height: 100px;
  margin-right: 10px;
}
html nav.navbar .navbar-item,
body nav.navbar .navbar-item {
  font-weight: bold;
}
html nav.navbar .navbar-item:hover,
body nav.navbar .navbar-item:hover {
  color: black;
}
html footer.footer a,
body footer.footer a {
  font-size: 45px;
  color: black;
  font-family: "Aachen Bold", "PT Sans", sans-serif;
  vertical-align: middle;
}
html footer.footer a ion-icon,
body footer.footer a ion-icon {
  font-size: 50px;
  transform: translateY(5px);
}
html div.column.is-8.border-box,
body div.column.is-8.border-box {
  background: #406faf;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}
html div.box.main-content,
body div.box.main-content {
  background: #406faf;
  color: #fff;
  font-size: 1.2rem;
  border: 4px dashed white;
}
html div.box.main-content h1,
body div.box.main-content h1 {
  font-size: 45px;
  color: black;
  font-weight: normal;
}
html div.box.main-content img,
body div.box.main-content img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
}
html div.faq,
body div.faq {
  position: fixed;
  right: 0;
  bottom: -10px;
}
html div.faq .bubble,
body div.faq .bubble {
  margin-bottom: -40px;
  transform: translateX(-115px);
}
html div.faq .bubble img,
body div.faq .bubble img {
  transform: rotateY(180deg);
}
html div.faq .bubble span,
body div.faq .bubble span {
  width: 170px;
  display: block;
  margin-bottom: -145px;
  margin-left: 40px;
  z-index: 2;
  position: relative;
  text-align: center;
  font-weight: bold;
}
html div.faq img,
body div.faq img {
  width: 250px;
}
